<header class="page-header">
    <img srcset="{{ "/assets/source-code-512.jpg" | relative_url }} 512w, {{ "/assets/source-code-1024.jpg" | relative_url }} 1024w, {{ "/assets/source-code-2048.jpg" | relative_url }} 2048w, {{ "/assets/source-code-3072.jpg" | relative_url }} 3072w"
            src="{{ "/assets/source-code-512.jpg" | relative_url }}"
            alt="{{ site.tagline }}" />
    <div class="page-title">
        {% if page.layout == 'page' %}
        <a class="home-link" href="{{ "/" | relative_url }}">SR</a><h1>{{ page.title }}</h1>
        {% else %}
        <h1>{{ site.title }}</h1>
        {% endif %}
    </div>
</header>

